APP_NAME=supplier-service
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=supplier_db
DB_USERNAME=bookstore
DB_PASSWORD=

AUTH_SERVICE_URL=http://auth-service:8000
INVENTORY_SERVICE_URL=http://inventory-service:8000
INTERNAL_SERVICE_TOKEN=pagecraft-internal-dev-token

SEED_DATABASE=false
