APP_NAME=reporting-service
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

AUTH_SERVICE_URL=http://auth-service:8000
FINANCE_SERVICE_URL=http://finance-service:8000
INVENTORY_SERVICE_URL=http://inventory-service:8000
ORDER_SERVICE_URL=http://order-service:8000
INTERNAL_SERVICE_TOKEN=pagecraft-internal-dev-token
